@page "/"
@inject NavigationManager nav

<div class="landing-wrapper">

    <div class="landing-title">
        Movie Ticket Booking
    </div>

    <button class="landing-btn"
            type="button"
            @onclick="GoUser">
        Login as User
    </button>

    <button class="landing-btn"
            type="button"
            @onclick="GoAdmin">
        Login as Admin
    </button>

</div>

@code {
    void GoUser()
    {
        nav.NavigateTo("/user");
    }

    void GoAdmin()
    {
        nav.NavigateTo("/admin");
    }
}
